.cover-bg {
  background-color: black;
  color: white;
  height: 600px;
}
.cover {
  height: 600px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.cover-title {
  font-size: calc(1rem + 2.5vw);
  font-weight: bold;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  margin-top: 60px;
}
.cover-subtitle {
  font-size: 1.25rem;
  line-height: 1.5;
  color: rgba(190, 190, 190, 1);
  opacity: 1;
  font-weight: 500;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .title {
    margin-top: 100px;
  }
  .subtitle {
    font-size: 1rem;
    line-height: 1.5;
  }
  .cover-bg {
    height: 120vw;
  }
  .cover {
    height: 120vw;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  .cover-button {
    display: flex;
    justify-content: center;
  }
}
.bg-dark {
  height: 100%;
}
.cover-download-button {
  height: 46px;
  width: 175px;
  background: rgba(255, 226, 183, 1);
  opacity: 1;
  border-radius: 23px;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}
.cover-preview-button {
  width: 175px;
  height: 46px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 23px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}
