.header-wrapper {
  opacity: 1;
  font-size: calc(0.9rem + 0.2vw);
  font-weight: 600;
  line-height: 24px;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 93px;
}
.header-name {
  display: inline-block;
  font-size: 1.3rem;
  position: relative;
  bottom: 15px;
  left: 10px;
  font-weight: 600;
  opacity: 0.8;
}
.icon-more {
  font-size: 0;
  cursor: pointer;
  margin-top: 20px;
}
.icon-black {
  font-size: 70px;
}
.froze {
  color: white;
}
.scroll {
  color: black;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(75, 75, 75, 0.2);
}

@media all and (max-width: 992px) {
  .header-wrapper {
    height: 70px;
    line-height: 10px;
    position: absolute;
  }
  .shadow-nav {
    display: none;
  }
  .download-button {
    display: none;
  }
  .icon-more {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0px;
  }
  .icon-black {
    font-size: 50px;
    visibility: true;
  }
  .header-name {
    display: none;
  }
  .header-collapse {
    text-align: center;
    line-height: 40px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(75, 75, 75, 0.2);
    position: relative;
    top: 10px;
  }
}
